body{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

#header{
    text-align: left;
    background-color: maroon;
    color: white;
    padding: 30px;
    font-size: 13px;
}
#header-rule{
  height: 2px;
  width: 100%;
  background-color: white;
}

h1,
h2,
h3{
  margin: 0;
}